# Building A Movie Recommender System using Content Based Filtering

### 1. Imports

In [80]:
import pandas as pd
import ast
import string 
import nltk
import numpy as np
import pickle

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from gensim.models import Word2Vec

import warnings
warnings.simplefilter('ignore')

### 2. Loading Data
Dataset being used : [The Movies Dataset](https://www.kaggle.com/datasets/rounakbanik/the-movies-dataset)

In [61]:
movies = pd.read_csv('archive/movies_metadata.csv')# load movies

/tmp/ipykernel_9242/3631710364.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv('archive/movies_metadata.csv')# load movies

In [63]:
credits = pd.read_csv('archive/credits.csv')

In [64]:
credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [65]:
keywords = pd.read_csv('archive/keywords.csv')

In [66]:
keywords.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

### 3. Explore Data

In [67]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [68]:
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [69]:
keywords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46419 entries, 0 to 46418
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        46419 non-null  int64
 1   keywords  46419 non-null  object
dtypes: int64(1), object(1)
memory usage: 725.4+ KB

### 4. Cleaning The Data

In [11]:
#removing unncessary columns and storing it to a dataframe named 'df'
df = movies[['id','title','original_title', 'overview', 'genres']]

In [12]:
df['id'] = pd.to_numeric(df['id'], errors = 'coerce', downcast='integer')

/tmp/ipykernel_9242/1793106989.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['id'] = pd.to_numeric(df['id'], errors = 'coerce', downcast='integer')

In [13]:
df = df.dropna()

In [14]:
df['id'] = df['id'].astype(int)

In [15]:
df['id']

0           862
1          8844
2         15602
3         31357
4         11862
          ...
45461    439050
45462    111109
45463     67758
45464    227506
45465    461257
Name: id, Length: 44506, dtype: int64

In [16]:
df = pd.merge(df, keywords, on='id')
df = pd.merge(df, credits, on = 'id')

In [17]:
df.isna().sum()

id                0
title             0
original_title    0
overview          0
genres            0
keywords          0
cast              0
crew              0
dtype: int64

In [18]:
print(len(df))

45629

In [19]:
#checking if there are any duplicated rows
df.duplicated().sum()

1147

In [20]:
df = df.drop_duplicates()

In [21]:
len(df)

44482

In [22]:
df.head()

,id,title,original_title,overview,genres,keywords,cast,crew
0,862,Toy Story,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,8844,Jumanji,Jumanji,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,15602,Grumpier Old Men,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392...","[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,31357,Waiting to Exhale,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'id': 818, 'name': 'based on novel'}, {'id':...","[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,11862,Father of the Bride Part II,Father of the Bride Part II,Just when George Banks has recovered from his ...,"[{'id': 35, 'name': 'Comedy'}]","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...","[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

**We can observe that 'keywords' , 'cast', 'crew' columns are in a dictionary format**

In [23]:
df['keywords'][0]

"[{'id': 931, 'name': 'jealousy'}, {'id': 4290, 'name': 'toy'}, {'id': 5202, 'name': 'boy'}, {'id': 6054, 'name': 'friendship'}, {'id': 9713, 'name': 'friends'}, {'id': 9823, 'name': 'rivalry'}, {'id': 165503, 'name': 'boy next door'}, {'id': 170722, 'name': 'new toy'}, {'id': 187065, 'name': 'toy comes to life'}]"

In [24]:
# we convert these dictionaries to a suitable format.
print(type(df['keywords'][0]))

# literal_eval converts the string format of original to dictionaries.
ast.literal_eval(df['keywords'][0])

<class 'str'>

[{'id': 931, 'name': 'jealousy'},
 {'id': 4290, 'name': 'toy'},
 {'id': 5202, 'name': 'boy'},
 {'id': 6054, 'name': 'friendship'},
 {'id': 9713, 'name': 'friends'},
 {'id': 9823, 'name': 'rivalry'},
 {'id': 165503, 'name': 'boy next door'},
 {'id': 170722, 'name': 'new toy'},
 {'id': 187065, 'name': 'toy comes to life'}]

In [25]:
def convert_keywords(text):
    l = []
    for i in ast.literal_eval(text):
        l.append(i['name'])
    return l

In [26]:
convert_keywords(df['keywords'][0])

['jealousy',
 'toy',
 'boy',
 'friendship',
 'friends',
 'rivalry',
 'boy next door',
 'new toy',
 'toy comes to life']

In [27]:
df['keywords'] = df['keywords'].apply(convert_keywords) #applying for all the rows

In [28]:
df.head()

,id,title,original_title,overview,genres,keywords,cast,crew
0,862,Toy Story,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[jealousy, toy, boy, friendship, friends, riva...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,8844,Jumanji,Jumanji,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[board game, disappearance, based on children'...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,15602,Grumpier Old Men,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[fishing, best friend, duringcreditsstinger, o...","[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,31357,Waiting to Exhale,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[based on novel, interracial relationship, sin...","[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,11862,Father of the Bride Part II,Father of the Bride Part II,Just when George Banks has recovered from his ...,"[{'id': 35, 'name': 'Comedy'}]","[baby, midlife crisis, confidence, aging, daug...","[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

In [29]:
#now let's do it for cast column.
ast.literal_eval(df['cast'][0])

[{'cast_id': 14,
  'character': 'Woody (voice)',
  'credit_id': '52fe4284c3a36847f8024f95',
  'gender': 2,
  'id': 31,
  'name': 'Tom Hanks',
  'order': 0,
  'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'},
 {'cast_id': 15,
  'character': 'Buzz Lightyear (voice)',
  'credit_id': '52fe4284c3a36847f8024f99',
  'gender': 2,
  'id': 12898,
  'name': 'Tim Allen',
  'order': 1,
  'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'},
 {'cast_id': 16,
  'character': 'Mr. Potato Head (voice)',
  'credit_id': '52fe4284c3a36847f8024f9d',
  'gender': 2,
  'id': 7167,
  'name': 'Don Rickles',
  'order': 2,
  'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'},
 {'cast_id': 17,
  'character': 'Slinky Dog (voice)',
  'credit_id': '52fe4284c3a36847f8024fa1',
  'gender': 2,
  'id': 12899,
  'name': 'Jim Varney',
  'order': 3,
  'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'},
 {'cast_id': 18,
  'character': 'Rex (voice)',
  'credit_id': '52fe4284c3a36847f8024fa5',
  'gender': 2,
  'id': 12900,
  'name': 'Wallace Shawn',
  'order': 4,
  'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'},
 {'cast_id': 19,
  'character': 'Hamm (voice)',
  'credit_id': '52fe4284c3a36847f8024fa9',
  'gender': 2,
  'id': 7907,
  'name': 'John Ratzenberger',
  'order': 5,
  'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'},
 {'cast_id': 20,
  'character': 'Bo Peep (voice)',
  'credit_id': '52fe4284c3a36847f8024fad',
  'gender': 1,
  'id': 8873,
  'name': 'Annie Potts',
  'order': 6,
  'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'},
 {'cast_id': 26,
  'character': 'Andy (voice)',
  'credit_id': '52fe4284c3a36847f8024fc1',
  'gender': 0,
  'id': 1116442,
  'name': 'John Morris',
  'order': 7,
  'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'},
 {'cast_id': 22,
  'character': 'Sid (voice)',
  'credit_id': '52fe4284c3a36847f8024fb1',
  'gender': 2,
  'id': 12901,
  'name': 'Erik von Detten',
  'order': 8,
  'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'},
 {'cast_id': 23,
  'character': 'Mrs. Davis (voice)',
  'credit_id': '52fe4284c3a36847f8024fb5',
  'gender': 1,
  'id': 12133,
  'name': 'Laurie Metcalf',
  'order': 9,
  'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'},
 {'cast_id': 24,
  'character': 'Sergeant (voice)',
  'credit_id': '52fe4284c3a36847f8024fb9',
  'gender': 2,
  'id': 8655,
  'name': 'R. Lee Ermey',
  'order': 10,
  'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'},
 {'cast_id': 25,
  'character': 'Hannah (voice)',
  'credit_id': '52fe4284c3a36847f8024fbd',
  'gender': 1,
  'id': 12903,
  'name': 'Sarah Freeman',
  'order': 11,
  'profile_path': None},
 {'cast_id': 27,
  'character': 'TV Announcer (voice)',
  'credit_id': '52fe4284c3a36847f8024fc5',
  'gender': 2,
  'id': 37221,
  'name': 'Penn Jillette',
  'order': 12,
  'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'}]

In [30]:
#let's make a dictionary to save all the actor names and their ids.

actor_id = {}

def convert_cast(text):
    l = []
    ctr = 0
    text= ast.literal_eval(text)
    sorted_text = sorted(text, key = lambda x : x['order'])
    for i in sorted_text:
        if ctr == 5:
            break
        l.append(i['name'])
        actor_id[i['name']] = i['id']
    return l

In [31]:
df['cast'] = df['cast'].apply(convert_cast)

In [32]:
df.head()

,id,title,original_title,overview,genres,keywords,cast,crew
0,862,Toy Story,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[jealousy, toy, boy, friendship, friends, riva...","[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,8844,Jumanji,Jumanji,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[board game, disappearance, based on children'...","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,15602,Grumpier Old Men,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[fishing, best friend, duringcreditsstinger, o...","[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,31357,Waiting to Exhale,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[based on novel, interracial relationship, sin...","[Whitney Houston, Angela Bassett, Loretta Devi...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,11862,Father of the Bride Part II,Father of the Bride Part II,Just when George Banks has recovered from his ...,"[{'id': 35, 'name': 'Comedy'}]","[baby, midlife crisis, confidence, aging, daug...","[Steve Martin, Diane Keaton, Martin Short, Kim...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

In [33]:
ast.literal_eval(df['crew'][0])

[{'credit_id': '52fe4284c3a36847f8024f49',
  'department': 'Directing',
  'gender': 2,
  'id': 7879,
  'job': 'Director',
  'name': 'John Lasseter',
  'profile_path': '/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f4f',
  'department': 'Writing',
  'gender': 2,
  'id': 12891,
  'job': 'Screenplay',
  'name': 'Joss Whedon',
  'profile_path': '/dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f55',
  'department': 'Writing',
  'gender': 2,
  'id': 7,
  'job': 'Screenplay',
  'name': 'Andrew Stanton',
  'profile_path': '/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f5b',
  'department': 'Writing',
  'gender': 2,
  'id': 12892,
  'job': 'Screenplay',
  'name': 'Joel Cohen',
  'profile_path': '/dAubAiZcvKFbboWlj7oXOkZnTSu.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f61',
  'department': 'Writing',
  'gender': 0,
  'id': 12893,
  'job': 'Screenplay',
  'name': 'Alec Sokolow',
  'profile_path': '/v79vlRYi94BZUQnkkyznbGUZLjT.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f67',
  'department': 'Production',
  'gender': 1,
  'id': 12894,
  'job': 'Producer',
  'name': 'Bonnie Arnold',
  'profile_path': None},
 {'credit_id': '52fe4284c3a36847f8024f6d',
  'department': 'Production',
  'gender': 0,
  'id': 12895,
  'job': 'Executive Producer',
  'name': 'Ed Catmull',
  'profile_path': None},
 {'credit_id': '52fe4284c3a36847f8024f73',
  'department': 'Production',
  'gender': 2,
  'id': 12896,
  'job': 'Producer',
  'name': 'Ralph Guggenheim',
  'profile_path': None},
 {'credit_id': '52fe4284c3a36847f8024f79',
  'department': 'Production',
  'gender': 2,
  'id': 12897,
  'job': 'Executive Producer',
  'name': 'Steve Jobs',
  'profile_path': '/mOMP3SwD5qWQSR0ldCIByd3guTV.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f8b',
  'department': 'Editing',
  'gender': 2,
  'id': 8,
  'job': 'Editor',
  'name': 'Lee Unkrich',
  'profile_path': '/bdTCCXjgOV3YyaNmLGYGOxFQMOc.jpg'},
 {'credit_id': '52fe4284c3a36847f8024f91',
  'department': 'Art',
  'gender': 2,
  'id': 7883,
  'job': 'Art Direction',
  'name': 'Ralph Eggleston',
  'profile_path': '/uUfcGKDsKO1aROMpXRs67Hn6RvR.jpg'},
 {'credit_id': '598331bf925141421201044b',
  'department': 'Editing',
  'gender': 2,
  'id': 1168870,
  'job': 'Editor',
  'name': 'Robert Gordon',
  'profile_path': None},
 {'credit_id': '5892168cc3a36809660095f9',
  'department': 'Sound',
  'gender': 0,
  'id': 1552883,
  'job': 'Foley Editor',
  'name': 'Mary Helen Leasman',
  'profile_path': None},
 {'credit_id': '5531824d9251415289000945',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1453514,
  'job': 'Animation',
  'name': 'Kim Blanchette',
  'profile_path': None},
 {'credit_id': '589215969251412dcb009bf6',
  'department': 'Sound',
  'gender': 0,
  'id': 1414182,
  'job': 'ADR Editor',
  'name': 'Marilyn McCoppen',
  'profile_path': None},
 {'credit_id': '589217099251412dc500a018',
  'department': 'Sound',
  'gender': 2,
  'id': 7885,
  'job': 'Orchestrator',
  'name': 'Randy Newman',
  'profile_path': '/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg'},
 {'credit_id': '5693e6b29251417b0e0000e3',
  'department': 'Editing',
  'gender': 0,
  'id': 1429549,
  'job': 'Color Timer',
  'name': 'Dale E. Grahn',
  'profile_path': None},
 {'credit_id': '572e2522c3a36869e6001a9c',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 7949,
  'job': 'CG Painter',
  'name': 'Robin Cooper',
  'profile_path': None},
 {'credit_id': '574f12309251415ca1000012',
  'department': 'Writing',
  'gender': 2,
  'id': 7879,
  'job': 'Original Story',
  'name': 'John Lasseter',
  'profile_path': '/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg'},
 {'credit_id': '574f1240c3a3682e7300001c',
  'department': 'Writing',
  'gender': 2,
  'id': 12890,
  'job': 'Original Story',
  'name': 'Pete Docter',
  'profile_path': '/r6ngPgnReA3RHmKjmSoVsc6Awjp.jpg'},
 {'credit_id': '574f12519251415c92000015',
  'department': 'Writing',
  'gender': 0,
  'id': 7911,
  'job': 'Original Story',
  'name': 'Joe Ranft',
  'profile_path': '/f1BoWC2JbCcfP1e5hKfGsxkHzVU.jpg'},
 {'credit_id': '574f12cec3a3682e82000022',
  'department': 'Crew',
  'gender': 0,
  'id': 1629419,
  'job': 'Post Production Supervisor',
  'name': 'Patsy Bouge',
  'profile_path': None},
 {'credit_id': '574f14f19251415ca1000082',
  'department': 'Art',
  'gender': 0,
  'id': 7961,
  'job': 'Sculptor',
  'name': 'Norm DeCarlo',
  'profile_path': None},
 {'credit_id': '5751ae4bc3a3683772002b7f',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 12905,
  'job': 'Animation Director',
  'name': 'Ash Brannon',
  'profile_path': '/6ueWgPEEBHvS3De2BHYQnYjRTig.jpg'},
 {'credit_id': '5891edbe9251412dc5007cd6',
  'department': 'Sound',
  'gender': 2,
  'id': 7885,
  'job': 'Music',
  'name': 'Randy Newman',
  'profile_path': '/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg'},
 {'credit_id': '589213d39251412dc8009832',
  'department': 'Directing',
  'gender': 0,
  'id': 1748707,
  'job': 'Layout',
  'name': 'Roman Figun',
  'profile_path': None},
 {'credit_id': '5892173dc3a3680968009351',
  'department': 'Sound',
  'gender': 2,
  'id': 4949,
  'job': 'Orchestrator',
  'name': 'Don Davis',
  'profile_path': None},
 {'credit_id': '589217cec3a3686b0a0052ba',
  'department': 'Sound',
  'gender': 0,
  'id': 1372885,
  'job': 'Music Editor',
  'name': 'James Flamberg',
  'profile_path': None},
 {'credit_id': '58921831c3a3686348004a64',
  'department': 'Editing',
  'gender': 0,
  'id': 1739962,
  'job': 'Negative Cutter',
  'name': 'Mary Beth Smith',
  'profile_path': None},
 {'credit_id': '58921838c3a36809700096c0',
  'department': 'Editing',
  'gender': 0,
  'id': 1748513,
  'job': 'Negative Cutter',
  'name': 'Rick Mackay',
  'profile_path': None},
 {'credit_id': '589218429251412dd1009d1b',
  'department': 'Art',
  'gender': 0,
  'id': 1458006,
  'job': 'Title Designer',
  'name': 'Susan Bradley',
  'profile_path': None},
 {'credit_id': '5891ed99c3a3680966007670',
  'department': 'Crew',
  'gender': 0,
  'id': 1748557,
  'job': 'Supervising Technical Director',
  'name': 'William Reeves',
  'profile_path': None},
 {'credit_id': '5891edcec3a3686b0a002eb2',
  'department': 'Sound',
  'gender': 2,
  'id': 7885,
  'job': 'Songs',
  'name': 'Randy Newman',
  'profile_path': '/w0JzfoiM25nrnxYOzosPHRq6mlE.jpg'},
 {'credit_id': '5891edf9c3a36809700075e6',
  'department': 'Writing',
  'gender': 2,
  'id': 7,
  'job': 'Original Story',
  'name': 'Andrew Stanton',
  'profile_path': '/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg'},
 {'credit_id': '58920f0b9251412dd7009104',
  'department': 'Crew',
  'gender': 2,
  'id': 12890,
  'job': 'Supervising Animator',
  'name': 'Pete Docter',
  'profile_path': '/r6ngPgnReA3RHmKjmSoVsc6Awjp.jpg'},
 {'credit_id': '58920f1fc3a3680977009021',
  'department': 'Sound',
  'gender': 2,
  'id': 2216,
  'job': 'Sound Designer',
  'name': 'Gary Rydstrom',
  'profile_path': '/jZpr1nVfO7lldWI0YtmP1FGw7Rj.jpg'},
 {'credit_id': '58920f389251412dd700912d',
  'department': 'Production',
  'gender': 0,
  'id': 12909,
  'job': 'Production Supervisor',
  'name': 'Karen Robert Jackson',
  'profile_path': None},
 {'credit_id': '58920fbd9251412dcb00969c',
  'department': 'Crew',
  'gender': 0,
  'id': 953331,
  'job': 'Executive Music Producer',
  'name': 'Chris Montan',
  'profile_path': None},
 {'credit_id': '589210069251412dd7009219',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 7893,
  'job': 'Animation Director',
  'name': 'Rich Quade',
  'profile_path': None},
 {'credit_id': '589210329251412dcd00943b',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8025,
  'job': 'Animation',
  'name': 'Michael Berenstein',
  'profile_path': None},
 {'credit_id': '5892103bc3a368096a009180',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 78009,
  'job': 'Animation',
  'name': 'Colin Brady',
  'profile_path': None},
 {'credit_id': '5892105dc3a3680968008db2',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748682,
  'job': 'Animation',
  'name': 'Davey Crockett Feiten',
  'profile_path': None},
 {'credit_id': '589210669251412dcd009466',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1454030,
  'job': 'Animation',
  'name': 'Angie Glocka',
  'profile_path': None},
 {'credit_id': '5892107c9251412dd1009613',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748683,
  'job': 'Animation',
  'name': 'Rex Grignon',
  'profile_path': None},
 {'credit_id': '5892108ac3a3680973008d3f',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748684,
  'job': 'Animation',
  'name': 'Tom K. Gurney',
  'profile_path': None},
 {'credit_id': '58921093c3a3686348004477',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 8029,
  'job': 'Animation',
  'name': 'Jimmy Hayward',
  'profile_path': '/lTDRpudEY7BDwTefXbXzMlmb0ui.jpg'},
 {'credit_id': '5892109b9251412dcd0094b0',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1426773,
  'job': 'Animation',
  'name': 'Hal T. Hickel',
  'profile_path': None},
 {'credit_id': '589210a29251412dc5009a29',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8035,
  'job': 'Animation',
  'name': 'Karen Kiser',
  'profile_path': None},
 {'credit_id': '589210ccc3a3680977009191',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748688,
  'job': 'Animation',
  'name': 'Anthony B. LaMolinara',
  'profile_path': None},
 {'credit_id': '589210d7c3a3686b0a004c1f',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 587314,
  'job': 'Animation',
  'name': 'Guionne Leroy',
  'profile_path': None},
 {'credit_id': '589210e1c3a36809770091a7',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 7918,
  'job': 'Animation',
  'name': 'Bud Luckey',
  'profile_path': '/pcCh7G19FKMNijmPQg1PMH1btic.jpg'},
 {'credit_id': '589210ee9251412dc200978a',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748689,
  'job': 'Animation',
  'name': 'Les Major',
  'profile_path': None},
 {'credit_id': '589210fa9251412dc8009595',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 7892,
  'job': 'Animation',
  'name': 'Glenn McQueen',
  'profile_path': None},
 {'credit_id': '589211029251412dc8009598',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 555795,
  'job': 'Animation',
  'name': 'Mark Oftedal',
  'profile_path': None},
 {'credit_id': '5892110b9251412dc800959d',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 7882,
  'job': 'Animation',
  'name': 'Jeff Pidgeon',
  'profile_path': '/yLddkg5HcgbJg00cS13GVBnP0HY.jpg'},
 {'credit_id': '58921113c3a36863480044e4',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8017,
  'job': 'Animation',
  'name': 'Jeff Pratt',
  'profile_path': None},
 {'credit_id': '5892111c9251412dcb0097e9',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1184140,
  'job': 'Animation',
  'name': 'Steve Rabatich',
  'profile_path': None},
 {'credit_id': '58921123c3a36809700090f6',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8049,
  'job': 'Animation',
  'name': 'Roger Rose',
  'profile_path': None},
 {'credit_id': '5892112b9251412dcb0097fb',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1509559,
  'job': 'Animation',
  'name': 'Steve Segal',
  'profile_path': None},
 {'credit_id': '589211349251412dc80095c3',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748691,
  'job': 'Animation',
  'name': 'Doug Sheppeck',
  'profile_path': None},
 {'credit_id': '5892113cc3a3680970009106',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8050,
  'job': 'Animation',
  'name': 'Alan Sperling',
  'profile_path': None},
 {'credit_id': '58921148c3a3686b0a004c99',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8010,
  'job': 'Animation',
  'name': 'Doug Sweetland',
  'profile_path': None},
 {'credit_id': '58921150c3a3680966009125',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 8044,
  'job': 'Animation',
  'name': 'David Tart',
  'profile_path': None},
 {'credit_id': '589211629251412dc5009b00',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1454034,
  'job': 'Animation',
  'name': 'Ken Willard',
  'profile_path': None},
 {'credit_id': '589211c1c3a3686b0a004d28',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 7887,
  'job': 'Visual Effects Supervisor',
  'name': 'Thomas Porter',
  'profile_path': None},
 {'credit_id': '589211d4c3a3680968008ed9',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1406878,
  'job': 'Visual Effects',
  'name': 'Mark Thomas Henne',
  'profile_path': None},
 {'credit_id': '589211f59251412dd4008e65',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748698,
  'job': 'Visual Effects',
  'name': 'Oren Jacob',
  'profile_path': None},
 {'credit_id': '58921242c3a368096a00939b',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748699,
  'job': 'Visual Effects',
  'name': 'Darwyn Peachey',
  'profile_path': None},
 {'credit_id': '5892124b9251412dc5009bd2',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748701,
  'job': 'Visual Effects',
  'name': 'Mitch Prater',
  'profile_path': None},
 {'credit_id': '58921264c3a3686b0a004dbf',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748703,
  'job': 'Visual Effects',
  'name': 'Brian M. Rosen',
  'profile_path': None},
 {'credit_id': '589212709251412dcd009676',
  'department': 'Lighting',
  'gender': 1,
  'id': 12912,
  'job': 'Lighting Supervisor',
  'name': 'Sharon Calahan',
  'profile_path': None},
 {'credit_id': '5892127fc3a3686b0a004de5',
  'department': 'Lighting',
  'gender': 0,
  'id': 7899,
  'job': 'Lighting Supervisor',
  'name': 'Galyn Susman',
  'profile_path': None},
 {'credit_id': '589212cdc3a3680970009268',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 12915,
  'job': 'CG Painter',
  'name': 'William Cone',
  'profile_path': None},
 {'credit_id': '5892130f9251412dc8009791',
  'department': 'Art',
  'gender': 0,
  'id': 1748705,
  'job': 'Sculptor',
  'name': 'Shelley Daniels Lekven',
  'profile_path': None},
 {'credit_id': '5892131c9251412dd4008f4c',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 7889,
  'job': 'Character Designer',
  'name': 'Bob Pauley',
  'profile_path': None},
 {'credit_id': '589213249251412dd100987b',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 7918,
  'job': 'Character Designer',
  'name': 'Bud Luckey',
  'profile_path': '/pcCh7G19FKMNijmPQg1PMH1btic.jpg'},
 {'credit_id': '5892132b9251412dc80097b1',
  'department': 'Visual Effects',
  'gender': 2,
  'id': 7,
  'job': 'Character Designer',
  'name': 'Andrew Stanton',
  'profile_path': '/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg'},
 {'credit_id': '58921332c3a368634800467b',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 12915,
  'job': 'Character Designer',
  'name': 'William Cone',
  'profile_path': None},
 {'credit_id': '5892135f9251412dd4008f90',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1748706,
  'job': 'Character Designer',
  'name': 'Steve Johnson',
  'profile_path': None},
 {'credit_id': '58921384c3a3680973008fd4',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1176752,
  'job': 'Character Designer',
  'name': 'Dan Haskett',
  'profile_path': None},
 {'credit_id': '5892138e9251412dc20099fc',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1088034,
  'job': 'Character Designer',
  'name': 'Tom Holloway',
  'profile_path': '/a0r0T2usTBpgMI5aZbRBDW1fTl8.jpg'},
 {'credit_id': '58921395c3a368097700942f',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1447465,
  'job': 'Character Designer',
  'name': 'Jean Gillmore',
  'profile_path': None},
 {'credit_id': '589213e2c3a3680973009026',
  'department': 'Directing',
  'gender': 0,
  'id': 1748709,
  'job': 'Layout',
  'name': 'Desirée Mourad',
  'profile_path': None},
 {'credit_id': '589214099251412dc5009d57',
  'department': 'Art',
  'gender': 0,
  'id': 1748710,
  'job': 'Set Dresser',
  'name': "Kelly O'Connell",
  'profile_path': None},
 {'credit_id': '58921411c3a3686b0a004f70',
  'department': 'Art',
  'gender': 0,
  'id': 1443471,
  'job': 'Set Dresser',
  'name': 'Sonoko Konishi',
  'profile_path': None},
 {'credit_id': '58921434c3a368096a00956e',
  'department': 'Art',
  'gender': 0,
  'id': 1748711,
  'job': 'Set Dresser',
  'name': 'Ann M. Rockwell',
  'profile_path': None},
 {'credit_id': '5892144ac3a36809680090de',
  'department': 'Editing',
  'gender': 0,
  'id': 1748712,
  'job': 'Editorial Manager',
  'name': 'Julie M. McDonald',
  'profile_path': None},
 {'credit_id': '58921479c3a368096800910f',
  'department': 'Editing',
  'gender': 0,
  'id': 1589729,
  'job': 'Assistant Editor',
  'name': 'Robin Lee',
  'profile_path': None},
 {'credit_id': '5892148b9251412dd10099cc',
  'department': 'Editing',
  'gender': 0,
  'id': 1748716,
  'job': 'Assistant Editor',
  'name': 'Tom Freeman',
  'profile_path': None},
 {'credit_id': '589214959251412dcb009b1f',
  'department': 'Editing',
  'gender': 0,
  'id': 1748717,
  'job': 'Assistant Editor',
  'name': 'Ada Cochavi',
  'profile_path': None},
 {'credit_id': '5892149ec3a3686348004798',
  'department': 'Editing',
  'gender': 0,
  'id': 1336438,
  'job': 'Assistant Editor',
  'name': 'Dana Mulligan',
  'profile_path': None},
 {'credit_id': '589214adc3a368096a0095db',
  'department': 'Editing',
  'gender': 0,
  'id': 1748718,
  'job': 'Editorial Coordinator',
  'name': 'Deirdre Morrison',
  'profile_path': None},
 {'credit_id': '589214c7c3a368097700952b',
  'department': 'Production',
  'gender': 0,
  'id': 1748719,
  'job': 'Production Coordinator',
  'name': 'Lori Lombardo',
  'profile_path': None},
 {'credit_id': '589214cec3a368096a009603',
  'department': 'Production',
  'gender': 0,
  'id': 1748720,
  'job': 'Production Coordinator',
  'name': 'Ellen Devine',
  'profile_path': None},
 {'credit_id': '589214e39251412dc8009904',
  'department': 'Crew',
  'gender': 0,
  'id': 1468014,
  'job': 'Unit Publicist',
  'name': 'Lauren Beth Strogoff',
  'profile_path': None},
 {'credit_id': '58921544c3a3686b0a00507d',
  'department': 'Sound',
  'gender': 2,
  'id': 2216,
  'job': 'Sound Re-Recording Mixer',
  'name': 'Gary Rydstrom',
  'profile_path': '/jZpr1nVfO7lldWI0YtmP1FGw7Rj.jpg'},
 {'credit_id': '5892154c9251412dd1009a56',
  'department': 'Sound',
  'gender': 0,
  'id': 1425978,
  'job': 'Sound Re-Recording Mixer',
  'name': 'Gary Summers',
  'profile_path': None},
 {'credit_id': '58921555c3a36809680091bd',
  'department': 'Sound',
  'gender': 2,
  'id': 8276,
  'job': 'Supervising Sound Editor',
  'name': 'Tim Holland',
  'profile_path': None},
 {'credit_id': '589215c39251412dcb009c12',
  'department': 'Sound',
  'gender': 0,
  'id': 7069,
  'job': 'Sound Effects Editor',
  'name': 'Pat Jackson',
  'profile_path': None},
 {'credit_id': '58921698c3a368096a009788',
  'department': 'Crew',
  'gender': 2,
  'id': 15894,
  'job': 'Sound Design Assistant',
  'name': 'Tom Myers',
  'profile_path': None},
 {'credit_id': '589216a89251412dc2009ca4',
  'department': 'Sound',
  'gender': 0,
  'id': 1414177,
  'job': 'Assistant Sound Editor',
  'name': 'J.R. Grubbs',
  'profile_path': None},
 {'credit_id': '589216c19251412dc2009cb9',
  'department': 'Sound',
  'gender': 1,
  'id': 1748724,
  'job': 'Assistant Sound Editor',
  'name': 'Susan Sanford',
  'profile_path': None},
 {'credit_id': '589216ccc3a3680973009274',
  'department': 'Sound',
  'gender': 0,
  'id': 1748725,
  'job': 'Assistant Sound Editor',
  'name': 'Susan Popovic',
  'profile_path': None},
 {'credit_id': '589216d79251412dc8009aa0',
  'department': 'Sound',
  'gender': 0,
  'id': 8067,
  'job': 'Assistant Sound Editor',
  'name': 'Dan Engstrom',
  'profile_path': None},
 {'credit_id': '589216e49251412dcd009a4f',
  'department': 'Production',
  'gender': 1,
  'id': 7902,
  'job': 'Casting Consultant',
  'name': 'Ruth Lambert',
  'profile_path': None},
 {'credit_id': '589216f39251412dc2009cf3',
  'department': 'Production',
  'gender': 0,
  'id': 84493,
  'job': 'ADR Voice Casting',
  'name': 'Mickie McGowan',

In [34]:
director_id = {}

def convert_crew(text):
    l = []
    text=  ast.literal_eval(text)
    for i in text:
        if i['job'] == 'Director':
            l.append(i['name'])
            director_id[i['name']] = i['id']
    
    return l

In [35]:
df['director'] = df['crew'].apply(convert_crew)
df = df.drop('crew', axis = 1)

In [36]:
director_id

{'John Lasseter': 7879,
 'Joe Johnston': 4945,
 'Howard Deutch': 26502,
 'Forest Whitaker': 2178,
 'Charles Shyer': 56106,
 'Michael Mann': 638,
 'Sydney Pollack': 2226,
 'Peter Hewitt': 18357,
 'Peter Hyams': 37710,
 'Martin Campbell': 10702,
 'Rob Reiner': 3026,
 'Mel Brooks': 14639,
 'Simon Wells': 21879,
 'Oliver Stone': 1152,
 'Renny Harlin': 16938,
 'Martin Scorsese': 1032,
 'Ang Lee': 1614,
 'Allison Anders': 3110,
 'Alexandre Rockwell': 3111,
 'Robert Rodriguez': 2294,
 'Quentin Tarantino': 138,
 'Steve Oedekerk': 4489,
 'Joseph Ruben': 52629,
 'Barry Sonnenfeld': 5174,
 'Jon Amiel': 15148,
 'Richard Donner': 7187,
 'Victor Salva': 56349,
 'Mike Figgis': 6111,
 'Oliver Parker': 56710,
 'Lesli Linka Glatter': 15798,
 'Roger Michell': 7017,
 'Jean-Pierre Jeunet': 2419,
 'Marc Caro': 13680,
 'Zhang Yimou': 607,
 'John N. Smith': 60295,
 'Terry Gilliam': 280,
 'Chris Noonan': 58137,
 'Christopher Hampton': 12952,
 'Tim Robbins': 504,
 'Stephen Low': 77867,
 'Andy Tennant': 17167,
 'Amy Heckerling': 57434,
 'Darrell James Roodt': 16730,
 'Richard Loncraine': 33315,
 'Albert Hughes': 11447,
 'Allen Hughes': 11448,
 'Michael Hoffman': 52405,
 'Paul W.S. Anderson': 4014,
 'Gus Van Sant': 5216,
 'Jocelyn Moorhouse': 3047,
 'David Fincher': 7467,
 'Mike Gabriel': 65530,
 'Eric Goldberg': 65531,
 'Patricia Rozema': 55439,
 'Bryan Singer': 9032,
 'Richard W. Munchkin': 100505,
 'Woody Allen': 1243,
 'Gianni Amelio': 128107,
 'Holly Goldberg Sloan': 71338,
 'Ulu Grosbard': 140354,
 'Robert Tinnell': 30586,
 'Jodie Foster': 1038,
 'Michael Radford': 28898,
 'Robert Lepage': 38527,
 'Frank Oz': 7908,
 'John Schlesinger': 19304,
 'Stephen Herek': 18356,
 'Paris Barclay': 45649,
 'Bill Bennett': 49361,
 'Jason Bloom': 57870,
 'Farhad Mann': 69721,
 'James Foley': 15890,
 'Josiane Balasko': 35137,
 'F. Gary Gray': 37932,
 'Andrew Sipes': 70850,
 'Noah Baumbach': 5656,
 'Claude Lelouch': 16862,
 'Michael Goldenberg': 10296,
 'Steve Miner': 58712,
 'Christian Duguay': 25735,
 'Susanne Ofteringer': 1080309,
 'Sean Penn': 2228,
 'Brian Gibson': 18069,
 'Jafar Panahi': 120229,
 'Gary Fleder': 5501,
 'Marleen Gorris': 13496,
 'Tim Reid': 27771,
 'Henry Jaglom': 117075,
 'Philip Haas': 55038,
 'Ridley Scott': 578,
 'Ken Kwapis': 29009,
 'Penelope Spheeris': 58448,
 'John Badham': 12840,
 'John Duigan': 72624,
 'Stephen Frears': 3224,
 'Wes Craven': 5140,
 'Ted Demme': 34849,
 'John Woo': 11401,
 'Kenneth Branagh': 11181,
 'Mathieu Kassovitz': 2406,
 'Nick Broomfield': 92561,
 'Harold Becker': 23213,
 'Wes Anderson': 5655,
 'Nick Castle': 14692,
 'John Dahl': 21053,
 'Dennis Dugan': 17494,
 'Clint Eastwood': 190,
 'Doris Dörrie': 18969,
 'Brian Henson': 65298,
 'Robert Leacock': 64077,
 'James Bruce': 1234226,
 'Mel Gibson': 2461,
 'Stanley Tong': 44916,
 'Barbet Schroeder': 23393,
 'Mort Ransen': 184475,
 'Étienne Chatiliez': 20849,
 'Jon Blair': 82293,
 'Benjamin Ross': 81020,
 'Eric Schaeffer': 68185,
 'Andrew Davis': 12989,
 'Charles T. Kanganis': 36147,
 'Reginald Hudlin': 68215,
 'Wong Kar-wai': 12453,
 'Giuseppe Tornatore': 65314,
 'David O. Russell': 17883,
 'Peter MacDonald': 16589,
 'Moufida Tlatli': 239321,
 'Michel Negroponte': 93632,
 'Bryan Gordon': 122583,
 'Rebecca Miller': 41670,
 'Michael Lindsay-Hogg': 125543,
 'William Friedkin': 15175,
 'Ángel Muñiz': 114997,
 'Craig Baldwin': 84445,
 'David S. Ward': 12920,
 'Mark Rappaport': 1077999,
 'Dirk Shafer': 45382,
 'Terence Davies': 93911,
 'Sandip Ray': 1080311,
 'Jon Avnet': 18250,
 'Mike Nichols': 1223530,
 'Jakov Sedlar': 1285121,
 'Edward Burns': 12833,
 'Michael Bay': 865,
 'Christopher Cain': 56828,
 'Scott Kalvert': 65390,
 'Mike Newell': 10723,
 'Hal Hartley': 91343,
 'Ron Howard': 6159,
 'Michael Caton-Jones': 30365,
 'Abel Ferrara': 39104,
 'Joel Schumacher': 5572,
 'Luis Buñuel': 793,
 'John Boorman': 19665,
 'Paul Auster': 46391,
 'Wayne Wang': 39819,
 'Michael Moore': 17087,
 'Brad Silberling': 11887,
 'Spike Lee': 5281,
 'Frank Marshall': 664,
 'Tony Scott': 893,
 'Terry Zwigoff': 17447,
 'Carl Franklin': 21712,
 'John McTiernan': 1090,
 'Gregg Araki': 19224,
 'Christopher Menaul': 68774,
 'Jerry Zucker': 3415,
 'Dwight H. Little': 56998,
 'Iain Softley': 1978,
 'Christopher Ashley': 252806,
 'Robert Longo': 59997,
 'Danny Cannon': 33279,
 'John Fortenberry': 58316,
 'Larry Clark': 1123745,
 'Tom DiCillo': 6400,
 'Clive Barker': 31211,
 'Denys Arcand': 38516,
 'Antonia Bird': 42617,
 'Kevin Smith': 19303,
 'Bryan Spicer': 42111,
 'David Anspaugh': 44847,
 'Anthony Waller': 58384,
 'Michael Almereyda': 54469,
 'Irwin Winkler': 11472,
 'Chris Columbus': 10965,
 'Daisy von Scherler Mayer': 56714,
 'Gregory Widen': 28902,
 'Norman René': 26487,
 'Todd Haynes': 16863,
 'Roland Joffé': 8965,
 'Paul Verhoeven': 10491,
 'Lasse Hallström': 5306,
 'Roger Donaldson': 21370,
 'James Keach': 408,
 'Kathryn Bigelow': 14392,
 'Jacques Demy': 24882,
 'Wesley Strick': 17880,
 'Martha Coolidge': 63713,
 'Agnieszka Holland': 1128,
 'Beeban Kidron': 20237,
 'Geoff Murphy': 32277,
 'Diane Keaton': 3092,
 'Douglas Keeve': 588623,
 'Alfonso Aráu': 22767,
 'Kevin Reynolds': 8300,
 'Desmond Nakano': 73494,
 'Walter Hill': 1723,
 'Greg Beeman': 17309,
 'Nikita Mikhalkov': 82796,
 'Milčo Mančevski': 1364800,
 'Richard Linklater': 564,
 'Tamra Davis': 57691,
 'Guy Ferland': 43468,
 'Herbert Ross': 18378,
 'Peter Horton': 44990,
 'Stuart Gordon': 27991,
 "Pat O'Connor": 19969,
 'Jeremy Leven': 25210,
 'Barry Levinson': 8246,
 'René Bonnière': 225065,
 'Jack Baran': 58154,
 'Roman Polanski': 3556,
 'Taylor Hackford': 18596,
 'Peter Farrelly': 7396,
 'Bobby Farrelly': 7395,
 'Atom Egoyan': 56205,
 'Garry Marshall': 1201,
 'Tim Burton': 510,
 'Lawrence Kasdan': 8844,
 'Billy Crystal': 7904,
 'Phillip Borsos': 148119,
 'Kevin Lima': 15775,
 'Paul Brizzi': 56147,
 'Brett Leonard': 57090,
 'Carlo Carlei': 87695,
 'Gérard Corbiau': 67794,
 'Mark Lewis': 548480,
 'Art Clokey': 129534,
 'Charles Burnett': 97755,
 'Steve James': 122449,
 'Peter Jackson': 108,
 'Randall Miller': 77121,
 'Bernard Rose': 57851,
 'Steven Brill': 32593,
 'J. F. Lawton': 1203,
 'Fred Schepisi': 64061,
 'Neil Jordan': 17016,
 'James Ivory': 54441,
 'James Melkonian': 73668,
 'Ivan Reitman': 8858,
 'Arne Glimcher': 56872,
 'Michael Gottlieb': 62043,
 'George Lucas': 1,
 'Gillian Armstrong': 58094,
 'Alfonso Cuarón': 11218,
 'Ken Loach': 15488,
 'Claude Chabrol': 19069,
 'Edward Zwick': 9181,
 'James Gray': 20561,
 'Glenn Gordon Caron': 58463,
 'Stephen Gyllenhaal': 15912,
 'Nicholas Hytner': 55476,
 'James Orr': 27444,
 'Nora Ephron': 9248,
 'Richard Benjamin': 24318,
 'Les Mayfield': 56911,
 'David Frankel': 5065,
 'Gregory Nava': 16395,
 'Marc Rocco': 54971,
 'Robert Benton': 6729,
 'Michael Apted': 10781,
 'Nick Gomez': 17278,
 'Tōru Murakawa': 129957,
 'Vadim Jean': 70905,
 'Albert Pyun': 63937,
 'Alan Jacobs': 131792,
 'Norman Jewison': 13563,
 'Lee Tamahori': 7256,
 'Anne Goursaud': 2873,
 'Wolfgang Petersen': 5231,
 'Luc Besson': 59,
 'Mira Nair': 6495,
 'Joshua Brand': 23757,
 'Mario Van Peebles': 16214,
 'Robert Redford': 4135,
 'Kayo Hatta': 994323,
 'Patrice Chéreau': 23724,
 'Sam Raimi': 7623,
 'Robert Altman': 9789,
 'Krzysztof Kieślowski': 1126,
 'He Ping': 77305,
 'Fred Gerber': 45642,
 'George Mihalka': 133793,
 'Harold Ramis': 1524,
 'Richard Rich': 107274,
 'John Sayles': 102445,
 'Luis Llosa': 26648,
 'Roland Emmerich': 6046,
 'John Pasquin': 58072,
 'Frank Darabont': 4027,
 'Danny Boyle': 2034,
 'Scott McGehee': 101444,
 'David Siegel': 101446,
 'Tomás Gutiérrez Alea': 72646,
 'Juan Carlos Tabío': 72647,
 'George Huang': 57028,
 'Kevin Dowling': 91499,
 'Geoff Burton': 72629,
 'Kelly Makin': 64030,
 'Rachel Talalay': 56891,
 'Ernest R. Dickerson': 15521,
 'David Carson': 2380,
 'Rusty Cundieff': 141825,
 'Brian Gilbert': 58080,
 'John Carpenter': 11770,
 'Peter Segal': 13426,
 'Louis Malle': 15389,
 'Steven Soderbergh': 1884,
 'Preston A. Whitmore II': 76705,
 'Jon Turteltaub': 12962,
 'Mina Shum': 1230367,
 'P.J. Hogan': 3045,
 'Melanie Mayron': 83313,
 'Tom Shadyac': 4499,
 'Stephan Elliott': 27889,
 'Phillip Noyce': 13015,
 'Jessie Nelson': 16853,
 'Alex Proyas': 21085,
 'Ron Shelton': 4037,
 'Brian Levant': 13581,
 'Robert Zemeckis': 24,
 'John Singleton': 6482,
 'Darnell Martin': 81727,
 'Andrew Bergman': 41550,
 'Stephen Sommers': 7775,
 'Ray Müller': 226963,
 'Roger Allers': 15812,
 'Rob Minkoff': 18898,
 'Bernardo Bertolucci': 4956,
 'Chuck Russell': 26713,
 'Alan Rudolph': 72427,
 'Ben Stiller': 7399,
 'Donald Petrie': 18281,
 'Robert Allan Ackerman': 83588,
 'Curtis Hanson': 323,
 'Jan de Bont': 2209,
 'Ron Underwood': 33485,
 'James Cameron': 2710,
 'Luis Mandoki': 46085,
 'Damian Harris': 42301,
 'Suri Krishnamma': 158634,
 'Jefery Levy': 72125,
 'Keenen Ivory Wayans': 35689,
 'Robert Lee King': 133183,
 'Brian Sloan': 1066115,
 "Raoul O'Connell": 1087439,
 'Yves Angelo': 234793,
 'Russ Meyer': 4590,
 'Doug McHenry': 67896,
 'Dave Borthwick': 80537,
 'Steven E. de Souza': 1726,
 'Wallace Wolodarsky': 486,
 'Michael A. Nickles': 126837,
 'Paul Warner': 1142481,
 'Vincent Robert': 532207,
 'Theodore Thomas': 129216,
 'Lucas Platt': 1382436,
 'Ross Kagan Marks': 1385254,
 'Paul Williams': 220152,
 'Robert Wuhl': 4040,
 'Roberto Sneider': 16401,
 'Jack Baxter': 223910,
 'Jefri Aalmuhammed': 1410160,
 'Andrew Morahan': 53599,
 'Michael Corrente': 77076,
 'John G. Avildsen': 16513,
 'Jeff Pollack': 88060,
 'Thomas Schlamme': 15106,
 'Michael Lehmann': 7145,
 'Paul Michael Glaser': 12988,
 'Jonathan Kaplan': 42171,
 'Whit Stillman': 78188,
 'Bill Forsyth': 68687,
 'John Landis': 4610,
 'Caroline Thompson': 1901,
 'Stephen Hopkins': 2042,
 'Tony Richardson': 32765,
 'Jennifer Chambers Lynch': 14800,
 'Robert De Niro': 380,
 'Adam Resnick': 57107,
 'John Whitesell': 61175,
 'Brian De Palma': 1150,
 'Paul Weiland': 66548,
 'Mick Jackson': 8843,
 'Steve Barron': 18308,
 'Richard Rush': 21806,
 'Michael Ritchie': 12964,
 'Gregg Champion': 27236,
 'Marco Brambilla': 58838,
 'Bruce Brown': 86,
 'Carl Reiner': 1895,
 'Chen Kaige': 20640,
 'Peter Weir': 2690,
 'Alek Keshishian': 50949,
 'Steve Kloves': 10967,
 'John Irvin': 17784,
 'Simon Wincer': 18254,
 'Boaz Yakin': 52358,
 'Rose Troche': 172993,
 'Bruce Beresford': 5696,
 'Sidney Lumet': 39996,
 'Jim Abrahams': 12936,
 'Julianna Lavin': 94996,
 'Christopher Monger': 65859,
 'Bille August': 19684,
 'Eric Meza': 77733,
 'Joel Coen': 1223,
 'James L. Brooks': 3388,
 'Daniel Petrie, Jr.': 774,
 'Jim Sheridan': 53334,
 'Matty Rich': 230059,
 'Steven Spielberg': 488,
 'Dominic Sena': 58498,
 'Roger Avary': 8297,
 'Daniel Petrie': 40549,
 'James Lapine': 90037,
 'Paul Hogan': 57147,
 'Greg Coote': 71192,
 'David Cronenberg': 224,
 'Stuart Baird': 2523,
 'Nagisa Ōshima': 46230,
 'Tom Noonan': 119232,
 'Anthony Minghella': 2239,
 'Mike Leigh': 65452,
 'Michael Tolkin': 16939,
 'Sally Potter': 57206,
 'Jonathan Demme': 16294,
 'Jane Campion': 10757,
 'Stuart Orme': 29482,
 'Mel Smith': 141450,
 'Penny Marshall': 14911,
 'Philip Kaufman': 648,
 'Alan Parker': 9168,
 'Fred Dekker': 44056,
 'Peter Medak': 21377,
 'Geoffrey Wright': 65026,
 'Victor Nunez': 138322,
 'Tim Hunter': 15858,
 'Cyril Collard': 127283,
 'Steven Zaillian': 2260,
 'Chris Menges': 8969,
 'John Waters': 10367,
 'Russell Mulcahy': 52968,
 'Richard Attenborough': 4786,
 'Gillies MacKinnon': 33405,
 'Steve Rash': 54590,
 'Rowdy Herrington': 63943,
 'Arthur Joffé': 111687,
 'Annabel Jankel': 58164,
 'Rocky Morton': 58165,
 'Deran Sarafian': 45645,
 'François Girard': 78012,
 'Andrew Fleming': 41549,
 'Henry Selick': 57646,
 'George P. Cosmatos': 16566,
 'Heywood Gould': 53387,
 'D.A. Pennebaker': 21113,
 'Chris Hegedus': 115891,
 'Pixote Hunt': 74299,
 'Maurice Hunt': 1164376,
 'Jerry Ciccoritti': 1212571,
 'Jennifer Warren': 70241,
 'Mark Malone': 85547,
 'Todd Solondz': 66605,
 'Claude Berri': 20718,
 'Dennis Hopper': 2778,
 'Guillermo del Toro': 10828,
 'Daniel Algrant': 69696,
 'Pedro Almodóvar': 309,
 'Gurinder Chadha': 6220,
 'Andrew Scheinman': 3030,
 'Åke Sandgren': 91565,
 'Eva Sereny': 1006705,
 'Lina Wertmüller': 26265,
 'Rémy Duchemin': 1354907,
 'George T. Miller': 1174031,
 'Ricky Tognazzi': 105114,
 'Michael Austin': 67756,
 'Rob Epstein': 109402,
 'Jeffrey Friedman': 109403,
 'Nanni Moretti': 69488,
 'María Luisa Bemberg': 1066960,
 'Betty Thomas': 31024,
 'Ron Clements': 15810,
 'John Musker': 15811,
 'Kevin Costner': 1269,
 'Steve Cohen': 171042,
 'David Hand': 5446,
 'Gary Trousdale': 62047,
 'Kirk Wise': 62048,
 'Hamilton Luske': 11429,
 'Ben Sharpsteen': 11426,
 'Yuri Mamin': 125340,
 'Sam Peckinpah': 7767,
 'C.M. Talkington': 78258,
 'Huang Jianxin': 134026,
 'Jean Bach': 1080040,
 'Sam Weisman': 54967,
 'Bill Condon': 15557,
 'Stephen Poliakoff': 116607,
 'David R. Ellis': 4755,
 'Gerald Potterton': 70616,
 'Kevin Yagher': 176246,
 'Joe Chappelle': 55116,
 'Matt Reeves': 32278,
 'Franco Zeffirelli': 24657,
 'Anna Campion': 75474,
 'Franco Brusati': 49552,
 'Wolfgang Reitherman': 57314,
 'Fernando Trueba': 37526,
 'Bill Couturié': 116103,
 'Werner Herzog': 6818,
 'André Téchiné': 96627,
 'Mika Kaurismäki': 54767,
 'Férid Boughedir': 1044284,
 'Martin Lawrence': 78029,
 'Stacy Title': 72619,
 'Gregory Hoblit': 17812,
 'Clément Virgo': 173004,
 'Bruno Barreto': 69719,
 'Paul Sabella': 71852,
 'Larry Leker': 952327,
 'Hal Salwen': 974388,
 'Jonathan R. Betuel': 70835,
 'Richard Pearce': 73496,
 'Todd Verow': 230320,
 'Jonathan Lynn': 21217,
 'Tim Sullivan': 20773,
 'Jeremiah S. Chechik': 34682,
 'Hervé Palud': 69537,
 'Martin Enlen': 43440,
 'Claude Sautet': 20789,
 'Friðrik Þór Friðriksson': 6759,
 'Pen Densham': 2182,
 'Park Chul-soo': 105617,
 'Rob Cohen': 18878,
 'Michael Verhoeven': 26595,
 'Gray Hofmeyr': 80526,
 'Richard Wherrett': 559920,
 'René Clément': 9740,
 'Anthony Hopkins': 4173,
 'Paul Mazursky': 47773,
 'Emir Kusturica': 15254,
 'Bo Widerberg': 96934,
 'Alan Mehrez': 115983,
 'Satyajit Ray': 12160,
 'Jim Mallon': 30021,
 'Joe Pytka': 23677,
 'Roger Vadim': 53767,
 'Catherine Cyran': 98940,
 'Brett Piper': 98094,
 'George Hickenlooper': 37852,
 'Peter Yates': 12804,
 'Jean-Luc Godard': 3776,
 'Bertrand Tavernier': 20556,
 'Gordon Willis': 3097,
 'Randal Kleiser': 8876,
 'Michael Blakemore': 1080036,
 'Margarethe von Trotta': 39298,
 'Norberto Barba': 104404,
 'Robert Mandel': 43786,
 'Pat Verducci': 1046169,
 'Michael Winterbottom': 172,
 'Steven Baigelman': 73838,
 'Zalman King': 42113,
 'Barry Caillier': 1661328,
 'Patrick Read Johnson': 56059,
 'Stijn Coninx': 81964,
 'John Cassavetes': 11147,
 'Stacy Cochran': 129708,
 'Jean-Claude Van Damme': 15111,
 'Mark Joffe': 59438,
 'Steve Gomer': 104507,
 'George Scribner': 71792,
 'Tom DeCerchio': 1175207,
 'Alan Shapiro': 129941,
 'Angela Pope': 1016352,
 'Betty Kaplan': 1585647,
 'Jim Jarmusch': 4429,
 'Jean-Paul Rappeneau': 25950,
 'Jack Hill ': 31310,
 'Manuel Gómez Pereira': 108499,
 'Jean-Marie Poiré': 64909,
 'Brett Thompson': 940684,
 'Francesco Sframeli': 1093108,
 'Spiro Scimone': 1093110,
 'Stephen Quay': 124237,
 'Timothy Quay': 124238,
 'Phil Joanou': 18500,
 'Larry Cohen': 19266,
 'Harvey Miller': 29706,
 'Michele Soavi': 87680,
 'David Hogan': 70792,
 'Maurice Pialat': 16988,
 'Gabriel Barylli': 564791,
 'Mamoru Oshii': 12180,
 'Tom Holland': 64796,
 'Rick Friedberg': 65548,
 'Udayan Prasad': 145304,
 'Nick Park': 7314,
 'Abraham Polonsky': 81976,
 'David Twohy': 28239,
 'Robert Z. Leonard': 93906,
 'Stanley Kubrick': 240,
 'Guy Maddin': 97579,
 "John O'Brien": 153908,
 'Kevin James Dobson': 114468,
 'Victor Saville': 14860,
 'Helena Solberg': 1090082,
 'Ebrahim Forouzesh': 1209349,
 'Freida Lee Mock': 223825,
 'Joseph Vilsmaier': 14614,
 'David Keating': 229695,
 'James Mangold': 366,
 'Francis Ford Coppola': 1776,
 'Mary Harron': 16378,
 'Charles Matthau': 122728,
 'Goran Paskaljević': 1009298,
 'Mwezé Ngangura': 1184422,
 'Benoît Lamy': 24409,
 'Jean-Pierre Bekolo': 1177451,
 'Djibril Diop Mambéty': 1079380,
 'Gaston Kaboré': 1153142,
 'Federico Fellini': 4415,
 'Victoria Foyt': 990400,
 'Robby Henson': 21415,
 'Scott Winant': 1214396,
 'Carma Hinton': 240366,
 'Richard Gordon': 30811,
 'Lucian Pintilie': 592762,
 'Gazdag Gyula': 544331,
 'Gérard Mordillat': 41521,
 'Mel Chionglo': 262130,
 'Christopher Larkin': 1144694,
 'Laurent Heynemann  ': 138795,
 'Bronwen Hughes': 18320,
 'Nicole Holofcener': 56539,
 'Éric Rohmer': 28615,
 'Fraser Clarke Heston': 66076,
 'Kevin Hooks': 40230,
 'Ildikó Enyedi': 1059880,
 'Howard Franklin': 2357,
 'Jaime Hellman': 1046588,
 'Nicolas Roeg': 14132,
 'Arlene Sanford': 15042,
 'Maurizio Nichetti': 225140,
 'Paul Turner': 87397,
 'Peter Sehr': 56201,
 'Gernot Roll': 1870,
 'Rolf Silber': 48685,
 'Manoel de Oliveira': 81749,
 'John Payson': 71110,
 'Hugh Wilson': 28904,
 'Nigel Finch': 179609,
 'Hart Bochner': 7678,
 'Doug Ellin': 183036,
 'Annette Haywood-Carter': 119310,
 'Danny DeVito': 518,
 'Douglas McGrath': 32983,
 'Tim Pope': 65602,
 'Harry Winer': 92554,
 'Georges Franju': 37302,
 'Gilbert Adler': 10953,
 'John Rubino': 1080308,
 'Yin Li': 1189125,
 'Marcus DeLeon': 117808,
 'Lee David Zlotoff': 1232954,
 'Tran Anh Hung': 107730,
 'Julian Schnabel': 7482,
 'Rolf de Heer': 112674,
 'Keisuke Kinoshita': 587603,
 'Nicole Garcia': 24485,
 'Zheng Jun-Li': 1112331,
 'Sönke Wortmann': 1869,
 'Lisa Krueger': 124092,
 'Mikio Naruse': 125690,
 'Lana Wachowski': 9340,
 'Lilly Wachowski': 9339,
 'Arthur Hiller': 133259,
 'John Ruane': 1155073,
 'Peter Shaner': 1276348,
 'Tsai Ming-liang': 71174,
 'Daniel Schmid': 64219,
 'Tim Metcalfe': 69042,
 'Izidore K. Musallam': 232119,
 'Jim McKay': 205639,
 'Karim Dridi': 118513,
 'John Frankenheimer': 13776,
 'Richard Stanley': 42175,
 'David M. Evans': 69741,
 'David Koepp': 508,
 'Gary Winick': 17046,
 'Nick Hamm': 6361,
 'Roy Allen Smith': 24346,
 'Theo van Gogh': 28889,
 'Trevor Nunn': 98750,
 'Keith Gordon': 33054,
 'Max Ophüls': 14353,
 'Jan Jakub Kolski': 587971,
 'Sam Wood': 10790,
 'George Cukor': 14674,
 'Stanley Donen': 13284,
 'Gene Kelly': 13294,
 'Vincente Minnelli': 13980,
 'Blake Edwards': 1927,
 'Alfred Hitchcock': 2636,
 'Frank Capra': 2662,
 'Mark Sandrich': 30165,
 'Billy Wilder': 3146,
 'Michael Curtiz': 4109,
 'John Huston': 6593,
 'William Wyler': 10001,
 'Walter Lang': 80570,
 'Victor Fleming': 9049,
 'Orson Welles': 40,
 'Mitchell Leisen': 108914,
 'Joseph L. Mankiewicz': 10601,
 'Leo McCarey': 30008,
 'Ernst Lubitsch': 2428,
 'William Keighley': 67426,
 'Rouben Mamoulian': 29595,
 'Otto Preminger': 834,
 'Gregory La Cava': 74659,
 'George Stevens': 18738,
 'Elia Kazan': 2746,
 'W.S. Van Dyke': 32427,
 'Howard Hawks': 11435,
 'Michael Anderson': 20412,
 'Victor Sjöström': 8741,
 'William A. Wellman': 14643,
 'John Cromwell': 31497,
 'Archie Mayo': 81165,
 'Busby Berkeley': 95293,
 'Henry Koster': 33064,
 'James Edward Grant': 50302,
 'Lewis Milestone': 2000,
 'Howard Hughes': 13348,
 'George A. Romero': 14999,
 'Richard Brooks': 3632,
 'Victor Schertzinger': 148849,
 'Frank Borzage': 14855,
 'Edwin L. Marin': 78053,
 "Thaddeus O'Sullivan": 72467,
 'Corey Yuen Kwai': 35452,
 'Joshua Logan': 86051,
 'Chris Newby': 1063201,
 'Richard Schenkman': 76462,
 'Allan Miller': 1468019,
 'Carroll Ballard': 68212,
 'Lance Young': 549024,
 'Ringo Lam': 26767,
 'Amy Holden Jones': 21371,
 'Matthew Broderick': 4756,
 'Stanley Tucci': 2283,
 'Campbell Scott': 55152,
 'Robert M. Young': 86293,
 'John Herzfeld': 27846,
 'Reb Braddock': 71825,
 'René Gainville': 584483,
 'John Walsh': 1217874,
 'John Gray': 35155,
 'Robert Lieberman': 27146,
 'Norman Tokar': 83413,
 'Norman Foster': 87459,
 'John Hough': 19032,
 'Robert Stevenson': 5834,
 'David Swift': 20770,
 'Duwayne Dunham': 6592,
 'Charles Barton': 30099,
 'Ken Annakin': 35318,
 'Richard Fleischer': 2087,
 'William Dear': 56506,
 'Clyde Geronimi': 64864,
 'Wilfred Jackson': 11434,
 'William Roberts': 11427,
 'Jack Kinney': 74565,
 'Harold Young': 103344,
 'Norman Ferguson': 226599,
 'Harold D. Schuster': 9082,
 'Samuel Armstrong': 5691,
 'Don Chaffey': 25558,

In [37]:
df.head()

,id,title,original_title,overview,genres,keywords,cast,director
0,862,Toy Story,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[jealousy, toy, boy, friendship, friends, riva...","[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",[John Lasseter]
1,8844,Jumanji,Jumanji,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[board game, disappearance, based on children'...","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",[Joe Johnston]
2,15602,Grumpier Old Men,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[fishing, best friend, duringcreditsstinger, o...","[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",[Howard Deutch]
3,31357,Waiting to Exhale,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[based on novel, interracial relationship, sin...","[Whitney Houston, Angela Bassett, Loretta Devi...",[Forest Whitaker]
4,11862,Father of the Bride Part II,Father of the Bride Part II,Just when George Banks has recovered from his ...,"[{'id': 35, 'name': 'Comedy'}]","[baby, midlife crisis, confidence, aging, daug...","[Steve Martin, Diane Keaton, Martin Short, Kim...",[Charles Shyer]

In [38]:
df['genres'][0]

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [39]:
def convert_genres(text):
    l = []
    text=  ast.literal_eval(text)
    for i in text:
        l.append(i['name'])
    return l

In [40]:
df['genres'] = df['genres'].apply(convert_genres)

In [41]:
df.head()

,id,title,original_title,overview,genres,keywords,cast,director
0,862,Toy Story,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[Animation, Comedy, Family]","[jealousy, toy, boy, friendship, friends, riva...","[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",[John Lasseter]
1,8844,Jumanji,Jumanji,When siblings Judy and Peter discover an encha...,"[Adventure, Fantasy, Family]","[board game, disappearance, based on children'...","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",[Joe Johnston]
2,15602,Grumpier Old Men,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[Romance, Comedy]","[fishing, best friend, duringcreditsstinger, o...","[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",[Howard Deutch]
3,31357,Waiting to Exhale,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...","[Comedy, Drama, Romance]","[based on novel, interracial relationship, sin...","[Whitney Houston, Angela Bassett, Loretta Devi...",[Forest Whitaker]
4,11862,Father of the Bride Part II,Father of the Bride Part II,Just when George Banks has recovered from his ...,[Comedy],"[baby, midlife crisis, confidence, aging, daug...","[Steve Martin, Diane Keaton, Martin Short, Kim...",[Charles Shyer]

In [42]:
def rem_spaces(l):
    l1 = []
    for i in l:
        l1.append(i.replace(" ",""))
    return l1

In [43]:
df['cast'] = df['cast'].apply(rem_spaces)
df['genres'] = df['genres'].apply(rem_spaces)
df['keywords'] = df['keywords'].apply(rem_spaces)
df['director'] = df['director'].apply(rem_spaces)

In [44]:
df.head()

,id,title,original_title,overview,genres,keywords,cast,director
0,862,Toy Story,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[Animation, Comedy, Family]","[jealousy, toy, boy, friendship, friends, riva...","[TomHanks, TimAllen, DonRickles, JimVarney, Wa...",[JohnLasseter]
1,8844,Jumanji,Jumanji,When siblings Judy and Peter discover an encha...,"[Adventure, Fantasy, Family]","[boardgame, disappearance, basedonchildren'sbo...","[RobinWilliams, JonathanHyde, KirstenDunst, Br...",[JoeJohnston]
2,15602,Grumpier Old Men,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[Romance, Comedy]","[fishing, bestfriend, duringcreditsstinger, ol...","[WalterMatthau, JackLemmon, Ann-Margret, Sophi...",[HowardDeutch]
3,31357,Waiting to Exhale,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...","[Comedy, Drama, Romance]","[basedonnovel, interracialrelationship, single...","[WhitneyHouston, AngelaBassett, LorettaDevine,...",[ForestWhitaker]
4,11862,Father of the Bride Part II,Father of the Bride Part II,Just when George Banks has recovered from his ...,[Comedy],"[baby, midlifecrisis, confidence, aging, daugh...","[SteveMartin, DianeKeaton, MartinShort, Kimber...",[CharlesShyer]

In [45]:
df['overview'] = df['overview'].apply(lambda x : x.split())

In [46]:
print(df['overview'][0])

['Led', 'by', 'Woody,', "Andy's", 'toys', 'live', 'happily', 'in', 'his', 'room', 'until', "Andy's", 'birthday', 'brings', 'Buzz', 'Lightyear', 'onto', 'the', 'scene.', 'Afraid', 'of', 'losing', 'his', 'place', 'in', "Andy's", 'heart,', 'Woody', 'plots', 'against', 'Buzz.', 'But', 'when', 'circumstances', 'separate', 'Buzz', 'and', 'Woody', 'from', 'their', 'owner,', 'the', 'duo', 'eventually', 'learns', 'to', 'put', 'aside', 'their', 'differences.']

In [47]:
df['tags'] = df['overview'] + df['genres'] + df['keywords'] + df['cast'] + df['director']

In [48]:
new_df = df.drop(columns = ['overview', 'genres', 'keywords', 'cast','director'])

In [49]:
new_df.head()

,id,title,original_title,tags
0,862,Toy Story,Toy Story,"[Led, by, Woody,, Andy's, toys, live, happily,..."
1,8844,Jumanji,Jumanji,"[When, siblings, Judy, and, Peter, discover, a..."
2,15602,Grumpier Old Men,Grumpier Old Men,"[A, family, wedding, reignites, the, ancient, ..."
3,31357,Waiting to Exhale,Waiting to Exhale,"[Cheated, on,, mistreated, and, stepped, on,, ..."
4,11862,Father of the Bride Part II,Father of the Bride Part II,"[Just, when, George, Banks, has, recovered, fr..."

In [50]:
new_df

,id,title,original_title,tags
0,862,Toy Story,Toy Story,"[Led, by, Woody,, Andy's, toys, live, happily,..."
1,8844,Jumanji,Jumanji,"[When, siblings, Judy, and, Peter, discover, a..."
2,15602,Grumpier Old Men,Grumpier Old Men,"[A, family, wedding, reignites, the, ancient, ..."
3,31357,Waiting to Exhale,Waiting to Exhale,"[Cheated, on,, mistreated, and, stepped, on,, ..."
4,11862,Father of the Bride Part II,Father of the Bride Part II,"[Just, when, George, Banks, has, recovered, fr..."
...,...,...,...,...
45624,439050,Subdue,رگ خواب,"[Rising, and, falling, between, a, man, and, w..."
45625,111109,Century of Birthing,Siglo ng Pagluluwal,"[An, artist, struggles, to, finish, his, work,..."
45626,67758,Betrayal,Betrayal,"[When, one, of, her, hits, goes, wrong,, a, pr..."
45627,227506,Satan Triumphant,Satana likuyushchiy,"[In, a, small, town, live, two, brothers,, one..."
45628,461257,Queerama,Queerama,"[50, years, after, decriminalisation, of, homo..."

In [51]:
new_df['tags'] = new_df['tags'].apply(lambda x : " ".join(x))
new_df.head(3)

,id,title,original_title,tags
0,862,Toy Story,Toy Story,"Led by Woody, Andy's toys live happily in his ..."
1,8844,Jumanji,Jumanji,When siblings Judy and Peter discover an encha...
2,15602,Grumpier Old Men,Grumpier Old Men,A family wedding reignites the ancient feud be...

### 5. Encoding the texts

We can use several text encoders like BagofWords, TF-IDF, Word2Vec etc.

In [52]:
nltk.download('punkt')
stemmer = PorterStemmer()

[nltk_data] Downloading package punkt to /home/tillu_25/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [53]:
# first let's preprocess all the tags
stop_words = set(stopwords.words('english'))

def preprocess(text):
    text = text.lower()
    text = ''.join([word for word in text if word not in string.punctuation])
    tokens = word_tokenize(text)
    tokens = [stemmer.stem(word) for word in tokens if word not in stop_words]
    return ' '.join(tokens)

In [54]:
new_df['tags'] = new_df['tags'].apply(preprocess)

In [55]:
new_df.head()

,id,title,original_title,tags
0,862,Toy Story,Toy Story,led woodi andi toy live happili room andi birt...
1,8844,Jumanji,Jumanji,sibl judi peter discov enchant board game open...
2,15602,Grumpier Old Men,Grumpier Old Men,famili wed reignit ancient feud nextdoor neigh...
3,31357,Waiting to Exhale,Waiting to Exhale,cheat mistreat step women hold breath wait elu...
4,11862,Father of the Bride Part II,Father of the Bride Part II,georg bank recov daughter wed receiv news she ...

In [56]:
new_df['tags'][0]

'led woodi andi toy live happili room andi birthday bring buzz lightyear onto scene afraid lose place andi heart woodi plot buzz circumst separ buzz woodi owner duo eventu learn put asid differ anim comedi famili jealousi toy boy friendship friend rivalri boynextdoor newtoy toycomestolif tomhank timallen donrickl jimvarney wallaceshawn johnratzenberg anniepott johnmorri erikvondetten lauriemetcalf rleeermey sarahfreeman pennjillett johnlasset'

In [57]:
len(director_id)

19400

In [58]:
len(actor_id)

200414

In [59]:
new_df.head()

,id,title,original_title,tags
0,862,Toy Story,Toy Story,led woodi andi toy live happili room andi birt...
1,8844,Jumanji,Jumanji,sibl judi peter discov enchant board game open...
2,15602,Grumpier Old Men,Grumpier Old Men,famili wed reignit ancient feud nextdoor neigh...
3,31357,Waiting to Exhale,Waiting to Exhale,cheat mistreat step women hold breath wait elu...
4,11862,Father of the Bride Part II,Father of the Bride Part II,georg bank recov daughter wed receiv news she ...

### 6. Using Bag of Words

In [109]:
cv = CountVectorizer(stop_words='english')

In [110]:
count_matrix = cv.fit_transform(new_df['tags'])

In [111]:
count_matrix = count_matrix.astype(np.int32)

In [112]:
count_matrix.shape

(44482, 292618)

In [113]:
cosine_similarity(count_matrix[0], count_matrix)[0][0:10]

array([1.        , 0.03822354, 0.03045725, 0.03360514, 0.01536644,
       0.        , 0.01274118, 0.08231545, 0.        , 0.        ])

In [114]:
def recommend(movie):
    index = new_df[new_df['title'] == movie].index[0]
    distances = sorted(list(enumerate(cosine_similarity(count_matrix[index], count_matrix)[0])), reverse = True, key = lambda x : x[1])
    
    for i in distances[1:10]:
        print(new_df.iloc[i[0]].title)

In [115]:
recommend('Toy Story')

Toy Story 2
Toy Story 3
Small Fry
Toy Story of Terror!
Andy Kaufman Plays Carnegie Hall
Andy Hardy's Blonde Trouble
The Champ
Toy Story That Time Forgot
Partysaurus Rex

In [117]:
recommend('The Avengers')

Black Plague
Thithi
The Love Letter
Mio in the Land of Faraway
The Wind and the Lion
Detective Dee and the Mystery of the Phantom Flame
The Extraordinary Adventures of Adèle Blanc-Sec
Journey to the Center of the Earth
The Blue Light

### 7. Using TF-IDF

In [118]:
new_df['tags'].head()

0    led woodi andi toy live happili room andi birt...
1    sibl judi peter discov enchant board game open...
2    famili wed reignit ancient feud nextdoor neigh...
3    cheat mistreat step women hold breath wait elu...
4    georg bank recov daughter wed receiv news she ...
Name: tags, dtype: object

In [119]:
tfidf = TfidfVectorizer(stop_words='english')

In [120]:
tfidf_matrix = tfidf.fit_transform(new_df['tags'])

In [121]:
tfidf_matrix.shape

(44482, 292618)

In [122]:
tfidf_matrix = tfidf_matrix.astype(np.float32)

In [123]:
def recommend(movie):
    index = new_df[new_df['title'] == movie].index[0]
    distances = sorted(list(enumerate(cosine_similarity(tfidf_matrix[index], tfidf_matrix)[0])), reverse = True, key = lambda x : x[1])
    
    for i in distances[1:10]:
        print(new_df.iloc[i[0]].title)

In [86]:
recommend('Toy Story')

Toy Story 2
Toy Story 3
Small Fry
Toy Story of Terror!
Andy Kaufman Plays Carnegie Hall
Hot Splash
Andy Hardy's Blonde Trouble
Toy Story That Time Forgot
Toy Reanimator

In [124]:
recommend('Iron Man')

True Legend
Second Nature
The Master
Legendary Weapons of China
Bodyguards and Assassins
1911
Sharpshooter
Born to Defend
The Assassin

In [126]:
recommend('The Avengers')

Black Plague
River Queen
The Love Letter
Red Bells Part I: Mexico on Fire
The Bunker
Urban Explorer
Daylight
The Tunnel
Thithi

### 7. Using Word2Vec

In [90]:
# let's use gensim to train a Word2Vec model
sentences = [sentence.split() for sentence in new_df['tags']]
w2v_model = Word2Vec(sentences, vector_size = 100, window = 5, min_count = 5, workers = 4)

In [91]:
def vectorize(sentence):
    words = sentence.split()
    words_vecs = [w2v_model.wv[word] for word in words if word in w2v_model.wv]
    if len(words_vecs) == 0:
        return np.zeros(100)
    words_vecs = np.array(words_vecs)
    return words_vecs.mean(axis = 0)

In [92]:
vectorized = np.array([vectorize(sentence) for sentence in new_df['tags']], dtype = np.float32)

In [93]:
print(vectorized[0]) #vectorized format of the first movie tags.

[ 0.17642124 -0.06909949  0.26839343 -0.0931903  -0.06861958 -0.7102529
  0.1369236   0.68807244 -0.3168909  -0.1663051  -0.20656107 -1.0407706
 -0.08958281 -0.04563318  0.11224592 -0.41853103 -0.43262058 -0.37028384
  0.33340704 -0.66129774 -0.02065405  0.00145412 -0.30782735 -0.17042066
 -0.25647262 -0.21214968 -0.32188898 -0.28250095  0.1452709   0.04689407
 -0.06926138  0.17029694 -0.02076747 -0.19171359 -0.5358299   0.29811805
  0.07535798 -0.17797269 -0.29884982 -0.50582206  0.38713756 -0.19014308
 -0.5706599   0.05979044  0.0663032   0.0757366  -0.28861132 -0.19858475
 -0.18826999  0.2708731   0.6384262  -0.35936624 -0.04829096  0.138439
 -0.37721944 -0.14897855  0.25262338  0.05789236 -0.11117521  0.02915125
 -0.23163186  0.0103796  -0.24800634  0.25479165 -0.4501942   0.63585114
  0.38980028  0.18221647 -0.56411415  0.68191123 -0.49229476  0.01102745
  0.77019894 -0.35474172  0.6431975   0.3985249   0.02505084 -0.38104326
 -0.24246359  0.60820925 -0.57393277 -0.15775497 -0.35475126  0.32810038
 -0.1837971   0.08084659 -0.07055648  0.3629658   0.9407611   0.45397937
  0.5966372   0.20523624  0.06525973  0.38306275  0.583594    0.30566338
  0.57683456  0.01373623  0.42881617 -0.09023629]

In [94]:
print(vectorized.shape) #shape of vectorized format of tags

(44482, 100)

In [95]:
vectorized = vectorized.astype('float32')

In [105]:
cosine_similarity(vectorized[0].reshape(1,-1), vectorized)

array([[1.        , 0.9433594 , 0.9493986 , ..., 0.79311097, 0.90224975,
        0.8391418 ]], dtype=float32)

In [106]:
def recommend(movie):
    index = new_df[new_df['title'] == movie].index[0]
    distances = sorted(list(enumerate(cosine_similarity(vectorized[index].reshape(1,-1), vectorized)[0])), reverse = True, key = lambda x : x[1])
    
    for i in distances[1:10]:
        print(new_df.iloc[i[0]].title)

In [108]:
recommend('Iron Man')

The Battalion
Defiance
The Hunley
Olga
Battle For Haditha
Brother's War
The Taking of Tiger Mountain
In Tranzit
47 Ronin